*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: #205ddfc0;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card{
    background-color: white;
    height: 480px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
}
.storiyan{
    height: 120px;
    width: 100%;
    border-bottom: 1px black solid;
    padding: 20px 20px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.storiyan::-webkit-scrollbar{
    display: none;
}
.story{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid rgb(255, 2, 95);
    overflow: hidden;
    display: inline-block;
}
.story img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#full-screen{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
    background-color: transparent;
}
h1{
    background-color: rgb(245, 46, 179);
    text-align: center;
    position: absolute;
    bottom: 37%;
    left: 12%;
    border: 1px black solid;
    border-radius: 5px;
}